{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [erlfmt, rebar3_ex_doc, rebar3_hex, rebar3_lint]}.

{erlfmt, [
    write,
    verbose,
    {files, ["rebar.config", "{src,test}/*.{erl,hrl}"]}
]}.

{hex, [{doc, ex_doc}]}.

{elvis, [
    {config, [
        #{files => ["src/*.erl", "test/*.erl"],
          ruleset => erl_files},
        #{files => ["rebar.config"],
          ruleset => rebar_config}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{ex_doc, [
    {extras, ["README.md"]},
    {source_url, "https://github.com/pmonson711/ides"},
    {main, "README.md"}
]}.
