{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [erlfmt, rebar3_ex_doc, rebar3_hex]}.

{erlfmt, [
    write,
    verbose,
    {files, ["rebar.config", "{src,test}/*.{erl,hrl}"]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, ["README.md"]},
    {source_url, "https://github.com/pmonson711/ides"},
    {main, "README.md"}
]}.
